<header>
    <div class="container">
        <div class="row">
            <div>
                <div class="intro-text" style="margin-top: 1%;">
                  <div class="col-lg-12">
                      <h2>Netflix Syndrome?</h2>
                      <hr class="star-light"/>
                      <h3>Hi Stranger!</h3>
                      <span class='important-text'> <h4> Life is short. Choice is Paralyzing.</h4> <br>
                      Skip the bullshit; Finally Decide.
                      </span>

                  </div>
            </div>
        </div>
    </div>
</header>
<center>
  <section id="login">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <span class="name"><h1> Login to Begin </h1></span>
                <hr class="star-primary"/>
                <center>
                <class='col-lg-7' style="text-align: left;">
                <form action='/user/login'>
                  <div class="form-group">
                    <label for="username"><h3>Username</h3></label>
                    <input type="text" class="form-control" name='username' placeholder="Enter Email">
                  </div>
                  <div class="form-group">
                    <label for="password"><h3>Password</h3></label>
                    <input type="password" class="form-control" name='password' placeholder="Enter Password">
                  </div>
                   <center> <button type="submit" class="btn btn-lg btn-warning">Login</button> </center>
                </form>
              </div>
          </div>
  </section>
<center>
</body>
